mixin video(info)
  a(href=`/videos/${info.id}`).video-mixin 
    div.video-mixin__thumb-wrapper
      div.video-mixin__thumb(style=`background-image:url(${info.thumbUrl});background-size:cover;background-position:center;`)
    div.video-mixin__data
      div.video-mixin__img
        div.img-wrapper
          img(src=info.owner.avatarUrl).avatar
      div.video-mixin__info
        span.video-mixin__title=info.title
        div.video-mixin__meta
          div #{info.owner.name} 
          div  #{info.meta.views}회 