mixin video(info)
  a(href=`/videos/${info.id}`).video-mixin 
    div.video-mixin__thumb
    div.video-mixin__data
      span.video-mixin__title=info.title
      div.video-mixin__meta
        span #{info.owner.name} •
        span #{info.meta.views}회 

    //- p=info.description

    //- ul 
    //-   each hashtag in info.hashtags 
    //-       li=hashtag
    //- small=info.createdAt
    //- hr 