extends base.pug

block content  
    if(errorMessage)
        h4=errorMessage
    div.edit-profile__avatar
        if (loggedInUser.avatarUrl)
            img(src=loggedInUser.avatarUrl).avatar
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar
        input(type="file", id="avatar" name="avatar" accept="image/*")
        input(placeholder="name", name="name", type="text", value=loggedInUser.name, required)
        input(placeholder="email", name="email", type="email", value=loggedInUser.email, equired)
        input(placeholder="username", name="username", type="text", value=loggedInUser.username, required)
        input(placeholder="location", name="location", type="text", value=loggedInUser.location, required)
        input(placeholder="submit", type="submit" value="Update Profile")
        if (!loggedInUser.githubLoginOnly)
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;