extends base.pug
include mixins/recommend-video.pug
 
block content 
    div#watch-video
        div#video-watch-part
            div#video-content-part
                div#videoContainer(data-videoId=video._id)
                    video(src=video.fileUrl)#videoScreen 
                    div#videoControlers
                        div#timelineBox
                            input(type="range", min="0", step="0.1", value="0")#timeline
                        div#controlers
                            div#controlersLeft
                                button#play 
                                    i.fa-solid.fa-play
                                button#mute 
                                    i.fa-solid.fa-volume-high
                                input(type="range", min="0", max="1", value="0.5", step="0.1")#volume
                                div#timeDisplay
                                    span#currentTime 00:00
                                    span  / 
                                    span#totalTime 00:00 
                            div#controlersRight
                                div
                                    button#fullscreen 
                                        i.fa-solid.fa-expand
                div.main-info
                    span.video-hashtags=video.hashtags.join().replaceAll(",","\t")
                    h2.video-title #{video.title}
                    small.video-views 조회 수 #{video.meta.views} 회  |         
                    small.video-createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                div.video-owner
                    div#video-owner-img-holder
                        a(href=`/users/${String(video.owner._id)}`)
                            img(src=video.owner.avatarUrl).header__avatar
                    div
                        small.video-uploadedBy
                            a(href=`/users/${String(video.owner._id)}`) #{video.owner.username}
                        div.video-description #{video.description}
            if (String(loggedInUser._id) === String(video.owner._id))
                br
                div.video-controlBox
                    a(href=`${video._id}/edit`) Edit Video    &rarr;
                    a(href=`${video._id}/delete`) Delete Video &rarr;
            if loggedIn
                div.video__add-comments
                    div.add-comment-avatar
                        img(src=`${loggedInUser.avatarUrl}`).img-wrapper
                    form.video__comment-form#commentForm
                        input(type="text", placeholder="Write a nice commment...")#add-comment__input
                        span.no-display#cancel-comment__btn Cancel 
                        button.no-display#add-comment__btn Add 
            div.video__comments
                ul
                    each comment in video.comments.reverse()
                        li.video__comment#commentContainer(data-id=comment.id)
                            div.comment-display
                                div.comment-display-avatar
                                    img(src=`${comment.owner.avatarUrl}`).img-wrapper
                                div.comment-display-text
                                    span.comment-display-owner #{comment.owner.username}
                                    span.comment-display-content #{comment.text}   
                                    if (loggedIn)
                                        if (String(loggedInUser._id) === String(comment.owner._id))
                                            div.comment-display-deleteIcon
                                                i.fa-solid.fa-trash-can
        div#recommend-video-part
            div
                each video in videos 
                    +recommendvideo(video)
                else 
                    span.empty__message No videos found 😢
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")